"*":
  core:
    projectHome: "/home/jangho/workspace"
    telemetryConsent: "limited"
  editor:
    fontFamily: "Hack"
    softWrap: true
  "exception-reporting":
    userId: "d0784b28-17e6-4602-a8f3-933eb65d8599"
  welcome:
    showOnStartup: false
