[Desktop Entry]
Name=color adjustment
Exec=bash -c "while true; xrandr --output HDMI-2 --gamma 1:1:1 --brightness 0.95 && sleep 1; done"
Terminal=false
Type=Application
