[Desktop Entry]
Name=color adjustment
Exec=bash -c "for run in {1..4}; do /home/jangho/.setup/scripts/bin/rr && sleep 1; done"
Terminal=false
Type=Application
