/keybase/
/Keybase/
/gtk-3.0/
/hancomviewer/
/hnc/
/dconf/
/gconf/
/htop/
/ibus/
/pulse/
/kritadisplayrc
/kritarc
/libreoffice/
/mc/
/kdeconnect/
/mpd/database
/mpd/pid
/mpd/state
/mpd/sticker.sql
/transmission/
/libfm/
/pcmanfm/
/Typora*
/freerdp/
/gtk-2.0/
/Code/
/configstore/
/chromium/
/spicy/
/syncthing/
/GIMP/
